# OpenCode TTC plugin env
TTC_ENABLED=true
TTC_API_KEY=
TTC_BASE_URL=https://api.thetokencompany.com
TTC_MODEL=bear-1.2
TTC_AGGRESSIVENESS=0.1
TTC_MIN_CHARS=400
TTC_TIMEOUT_MS=2000
TTC_MAX_RETRIES=1
TTC_RETRY_BACKOFF_MS=100
TTC_USE_GZIP=true
TTC_COMPRESS_SYSTEM=false
TTC_COMPRESS_HISTORY=false
TTC_DEBUG=false
TTC_CACHE_MAX_ENTRIES=1000
TTC_TOAST_ON_ACTIVE=true
TTC_TOAST_ON_IDLE_SUMMARY=true
